{% extends "base/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block js %}
	{{block.super}}
	<!-- VPOS constants -->
	<script type="text/javascript">
		var vpos_constants = {};
		vpos_constants["SET_PAYMENT_ATTRIBUTES_URL"] = "{% url 'public:set_credit_card_reference_attributes' %}";
		vpos_constants["PAYMENT_CODE"] = "{{credit_card_reference.code}}";
		vpos_constants["URL_OK"] = "{{url_ok}}";
		vpos_constants["URL_NOK"] = "{{url_nok}}";
	</script>

	<script src="{% static 'js/store/payment/set_payment_attributes.js' %}"></script>
{% endblock %}


{% block page_title %}
    View your shoppint cart
{% endblock %}

{% block content %}
    {{sale.code}} {{sale.final_price}} €

    <h2>Personal data</h2>

    <table class="table">
        <tr>
            <td>First name</td><td>{{sale.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td><td>{{sale.last_name}}</td>
        </tr>
        <tr>
            <td>Telephone</td><td>{{sale.telephone_number}}</td>
        </tr>
        <tr>
            <td>Email</td><td>{{sale.email}}</td>
        </tr>
    </table>

    <h2>Shopping cart</h2>
    <table class="table">
        <tr>
            <td>Product</td>
            <td>Price</td>
            <td>Amount</td>
            <td>Total price</td>
        </tr>
        {% for sale_detail in sale.sale_details.all %}
            <tr>
                <td>{{sale_detail.product_name}}</td>
                <td>{{sale_detail.product_price}} €</td>
                <td>{{sale_detail.amount}} {% if sale_detail.product_price_type == "price_per_unit" %}units{% else %}grams{% endif %}</td>
                <td>
                    {% if sale_detail.bundle_offer_name %}
                        <strike>{{sale_detail.total_price}} €</strike>
                        {{sale_detail.bundle_offer_name}}
                    {% endif %}
                    {{sale_detail.final_price}} €
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <h2>Total</h2>
        {% if sale.group_offer_name %}
            <strike>{{sale.total_price}} €</strike>
            {{sale.group_offer_name}}
        {% endif %}
        {{sale.final_price}} €
    </div>

    {% if virtual_point_of_sales|length > 0 %}
        <div>
            {% for virtual_point_of_sale in virtual_point_of_sales %}
                <form>
                    <button class="pay_button" data-id="{{virtual_point_of_sale.id}}">
                        {{virtual_point_of_sale.name}}
                    </button>
                </form>
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Virtual POS configured.
        </div>
    {% endif %}

{% endblock %}