{% extends "base/base.html" %}
{% load staticfiles %}
{% load djangovirtualpos_js %}
{% load thumbnail %}

{% block js %}
	{{block.super}}
    {% url 'public:set_payment_attributes' as set_payment_attributes_url %}
    {% include_djangovirtualpos_set_payment_attributes_js set_payment_attributes_url sale.code url_ok url_nok %}
{% endblock %}


{% block page_title %}
    View your shoppint cart
{% endblock %}

{% block content %}
    {{sale.code}} {{sale.final_price}} €

    <h2>Personal data</h2>

    <table class="table">
        <tr>
            <td>First name</td><td>{{sale.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td><td>{{sale.last_name}}</td>
        </tr>
        <tr>
            <td>Telephone</td><td>{{sale.telephone_number}}</td>
        </tr>
        <tr>
            <td>Email</td><td>{{sale.email}}</td>
        </tr>
    </table>

    <h2>Shopping cart</h2>
    <table class="table">
        <tr>
            <td>Product</td>
            <td>Price</td>
            <td>Amount</td>
            <td>Total price</td>
        </tr>
        {% for sale_detail in sale.sale_details.all %}
            <tr>
                <td>{{sale_detail.product_name}}</td>
                <td>{{sale_detail.product_price}} €</td>
                <td>{{sale_detail.amount}} {% if sale_detail.product_price_type == "price_per_unit" %}units{% else %}grams{% endif %}</td>
                <td>
                    {% if sale_detail.bundle_offer_name %}
                        <strike>{{sale_detail.total_price}} €</strike>
                        {{sale_detail.bundle_offer_name}}
                    {% endif %}
                    {{sale_detail.final_price}} €
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        <h2>Total</h2>
        {% if sale.group_offer_name %}
            <strike>{{sale.total_price}} €</strike>
            {{sale.group_offer_name}}
        {% endif %}
        {{sale.final_price}} €
    </div>

    {% if member %}
        {% with reference=member.current_credit_card_reference %}
            {% if reference.virtual_pos %}
                <form>
                    <button class="pay_button"
                            data-id="{{reference.virtual_pos.id}}"
                            data-reference_number="{{reference.reference_number}}">
                        <span class="fa fa-shopping-cart"></span>
                        <strong>{{member.full_name}}</strong>'s reference payment {{reference.virtual_pos.name}}
                    </button>
                </form>
            {% endif %}
        {% endwith %}
    {% endif %}

    {% if user_is_admin %}
        {% if current_references|length > 0 %}
            <h2>Club member payments</h2>
            {% for reference in current_references %}
                {% with member=reference.member %}
                    {% if reference.virtual_pos %}
                        <form>
                            <button class="pay_button"
                                    data-id="{{reference.virtual_pos.id}}"
                                    data-reference_number="{{reference.reference_number}}">
                                <span class="fa fa-shopping-cart"></span>
                                <strong>{{member.full_name}}</strong>'s reference payment {{reference.virtual_pos.name}}
                            </button>
                        </form>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    {% else %}

    {% endif %}


    <h2>Standard payment</h2>
    {% if virtual_point_of_sales|length > 0 %}
        <div>
            {% for virtual_point_of_sale in virtual_point_of_sales %}
                <form>
                    <button class="pay_button" data-id="{{virtual_point_of_sale.id}}">
                        {{virtual_point_of_sale.name}}
                    </button>
                </form>
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Virtual POS configured.
        </div>
    {% endif %}

{% endblock %}