{% extends "base/base.html" %}
{% load staticfiles %}
{% load djangovirtualpos_js %}

{% block page_title %}
    Admin of DJShop :: Subscribe {{member.full_name}}
{% endblock %}

{% block js %}
	{{block.super}}
    {% url 'club:set_subscription_attributes' member.id as set_subscription_attributes_url %}
    {% include_djangovirtualpos_set_payment_attributes_js set_subscription_attributes_url reference.code url_ok url_nok %}
{% endblock %}

{% block content %}
    <h1>Subscribe member {{member.full_name}}</h1>

    {% if virtual_point_of_sales|length > 0 %}
        <div>
            {% for virtual_point_of_sale in virtual_point_of_sales %}
                <form>
                    <button class="pay_button" data-id="{{virtual_point_of_sale.id}}">
                        Get reference number for {{virtual_point_of_sale.name}}
                    </button>
                </form>
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Virtual POS configured.
        </div>
    {% endif %}
{% endblock content %}