{% extends "base/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Admin of DJShop :: Subscribe {{member.full_name}}
{% endblock %}

{% block js %}
    {{block.super}}
    {{form.media.js}}
{% endblock js %}

{% block content %}
    <h1>Subscribe member {{member.full_name}}</h1>

    {% if virtual_point_of_sales|length > 0 %}
        <div>
            {% for virtual_point_of_sale in virtual_point_of_sales %}
                <form>
                    <button class="pay_button" data-id="{{virtual_point_of_sale.id}}">
                        {{virtual_point_of_sale.name}}
                    </button>
                </form>
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Virtual POS configured.
        </div>
    {% endif %}
{% endblock content %}