{% extends "base/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Admin of DJShop :: {{member.first_name}}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1>{{member.first_name}}</h1>
        </div>
    </div>
    <div>
        <a href="{% url 'club:edit_member' member.id %}" class="btn btn-primary"><span class="fa fa-pencil"></span></a>
        <a href="{% url 'club:subscribe' member.id %}" class="btn btn-primary"><span class="fa fa-check"></span></a>
        <a href="{% url 'club:delete_member' member.id %}" class="btn btn-danger"><span class="fa fa-trash"></span></a>
    </div>
{% endblock content %}
